# A month in the life of my bank account as a waterfall chart

In [1]:
from datetime import date as date
import numpy as np
import pandas as pd
from pprint import pprint as pp

In [26]:
df = pd.read_csv(
    'data/bank_statement_censored.csv',
    parse_dates=['Date'],
    dayfirst=True,
)
df['Date_str'] = df['Date'].astype(str)
df.head(50)

,Date,Transaction,Credit,Debit,Balance,Date_str
0,2023-06-01,Savings Account Deposit,NaN,250.00,3355.03,2023-06-01
1,2023-06-01,Kids Club,NaN,12.00,3343.03,2023-06-01
2,2023-06-01,Union Fees,NaN,17.74,3325.29,2023-06-01
3,2023-06-01,Supermarket,NaN,24.05,3301.24,2023-06-01
4,2023-06-02,Loan Repayment for Building Works,NaN,100.00,3201.24,2023-06-02
5,2026-06-02,Tithe,NaN,108.00,3093.24,2026-06-02
6,2023-06-02,Bills,NaN,1232.00,1861.24,2023-06-02
7,2023-06-02,Parking,NaN,19.44,1841.80,2023-06-02
8,2023-06-02,Retail Store,NaN,14.52,1827.28,2023-06-02
9,2023-06-02,Crazy Golf,NaN,23.40,1803.88,2023-06-02
10,2023-06-02,Coffee,NaN,10.25,1793.63,2023-06-02
11,2023-06-03,Credit Card Bill,NaN,544.54,1249.09,2023-06-03
12,2023-06-03,Payment for work,100.00,NaN,1349.09,2023-06-03
13,2023-06-05,Supermarket,NaN,87.03,1262.06,2023-06-05
14,2023-06-08,Bank refund,103.95,NaN,1366.01,2023-06-08
15,2023-06-08,Credit Card Additional Payment,NaN,189.36,1176.65,2023-06-08
16,2023-06-08,Donation,NaN,110.00,1066.65,2023-06-08
17,2023-06-12,Dinner,NaN,37.50,1029.15,2023-06-12
18,2023-06-12,Supermarket,NaN,34.42,994.73,2023-06-12
19,2023-06-14,Kids Event,NaN,104.60,890.13,2023-06-14
20,2023-06-15,Retail Store,NaN,10.23,879.90,2023-06-15
21,2023-06-19,Retail Store,NaN,7.07,872.83,2023-06-19
22,2023-06-21,Mobile Phone Contract,NaN,19.73,853.10,2023-06-21
23,2023-06-22,Cash withdrawal,NaN,20.00,833.10,2023-06-22
24,2023-06-24,Supermarket,NaN,20.06,813.04,2023-06-24
25,2023-06-30,Salary,2394.55,NaN,3207.59,2023-06-30
26,2023-06-30,Supermarket,NaN,28.05,3179.54,2023-06-30

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         27 non-null     datetime64[ns]
 1   Transaction  27 non-null     object
 2   Credit       3 non-null      float64
 3   Debit        24 non-null     float64
 4   Balance      27 non-null     float64
 5   Date_str     27 non-null     object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.4+ KB

In [28]:
df[['Credit','Debit']] = df[['Credit','Debit']].fillna(0)
df.head()

,Date,Transaction,Credit,Debit,Balance,Date_str
0,2023-06-01,Savings Account Deposit,0.0,250.00,3355.03,2023-06-01
1,2023-06-01,Kids Club,0.0,12.00,3343.03,2023-06-01
2,2023-06-01,Union Fees,0.0,17.74,3325.29,2023-06-01
3,2023-06-01,Supermarket,0.0,24.05,3301.24,2023-06-01
4,2023-06-02,Loan Repayment for Building Works,0.0,100.00,3201.24,2023-06-02

In [29]:
df['Change'] = df['Credit']  - df['Debit']
df.head()

,Date,Transaction,Credit,Debit,Balance,Date_str,Change
0,2023-06-01,Savings Account Deposit,0.0,250.00,3355.03,2023-06-01,-250.00
1,2023-06-01,Kids Club,0.0,12.00,3343.03,2023-06-01,-12.00
2,2023-06-01,Union Fees,0.0,17.74,3325.29,2023-06-01,-17.74
3,2023-06-01,Supermarket,0.0,24.05,3301.24,2023-06-01,-24.05
4,2023-06-02,Loan Repayment for Building Works,0.0,100.00,3201.24,2023-06-02,-100.00

In [34]:
df['Change_curr'] = df['Change'].apply(lambda x: f"+£{x:,.2f}" if x>=0 else f"-£{-x:,.2f}")
df.head()

,Date,Transaction,Credit,Debit,Balance,Date_str,Change,Change_curr,Transaction_addn
0,2023-06-01,Savings Account Deposit,0.0,250.00,3355.03,2023-06-01,-250.00,-£250.00,Savings Account Deposit -£250.00
1,2023-06-01,Kids Club,0.0,12.00,3343.03,2023-06-01,-12.00,-£12.00,Kids Club -£12.00
2,2023-06-01,Union Fees,0.0,17.74,3325.29,2023-06-01,-17.74,-£17.74,Union Fees -£17.74
3,2023-06-01,Supermarket,0.0,24.05,3301.24,2023-06-01,-24.05,-£24.05,Supermarket -£24.05
4,2023-06-02,Loan Repayment for Building Works,0.0,100.00,3201.24,2023-06-02,-100.00,-£100.00,Loan Repayment for Building Works -£100.00

In [35]:
df['Transaction_addn'] = df['Transaction'] + ' ' + df['Change_curr'].astype(str)
df.head()

,Date,Transaction,Credit,Debit,Balance,Date_str,Change,Change_curr,Transaction_addn
0,2023-06-01,Savings Account Deposit,0.0,250.00,3355.03,2023-06-01,-250.00,-£250.00,Savings Account Deposit -£250.00
1,2023-06-01,Kids Club,0.0,12.00,3343.03,2023-06-01,-12.00,-£12.00,Kids Club -£12.00
2,2023-06-01,Union Fees,0.0,17.74,3325.29,2023-06-01,-17.74,-£17.74,Union Fees -£17.74
3,2023-06-01,Supermarket,0.0,24.05,3301.24,2023-06-01,-24.05,-£24.05,Supermarket -£24.05
4,2023-06-02,Loan Repayment for Building Works,0.0,100.00,3201.24,2023-06-02,-100.00,-£100.00,Loan Repayment for Building Works -£100.00

In [44]:
y_dt = [pd.to_datetime(date(day=1,month=6,year=2023)).date()]
y_dt.extend(df['Date'].dt.date.tolist())

y = ['1685577600000000000']
y.extend(df['Date'].values.tolist())

y_str = [f"(0) {df['Date_str'].values[0]}"]
for n in range(0,len(df.index)):
    y_str.append(f"({n+1}) {df['Date_str'].values[n]}")

x = [df['Balance'].values[0]]
x.extend(df['Change'].values.tolist())

text = [f"Balance {df['Balance'].values[0]}"]
text.extend(df['Transaction_addn'].values.tolist())

measure = ['relative']
measure.extend(['relative' for x in range(0,len(df.index))])

see_all = zip(list(reversed(y_str)),list(reversed(x)),list(reversed(text)),measure)
see_all = zip(y_str,x,text,measure)
pp(tuple(see_all))

(('(0) 2023-06-01', 3355.03, 'Balance 3355.03', 'relative'),
 ('(1) 2023-06-01', -250.0, 'Savings Account Deposit -£250.00', 'relative'),
 ('(2) 2023-06-01', -12.0, 'Kids Club -£12.00', 'relative'),
 ('(3) 2023-06-01', -17.74, 'Union Fees -£17.74', 'relative'),
 ('(4) 2023-06-01', -24.05, 'Supermarket -£24.05', 'relative'),
 ('(5) 2023-06-02',
  -100.0,
  'Loan Repayment for Building Works -£100.00',
  'relative'),
 ('(6) 2026-06-02', -108.0, 'Tithe -£108.00', 'relative'),
 ('(7) 2023-06-02', -1232.0, 'Bills -£1,232.00', 'relative'),
 ('(8) 2023-06-02', -19.44, 'Parking -£19.44', 'relative'),
 ('(9) 2023-06-02', -14.52, 'Retail Store -£14.52', 'relative'),
 ('(10) 2023-06-02', -23.4, 'Crazy Golf -£23.40', 'relative'),
 ('(11) 2023-06-02', -10.25, 'Coffee -£10.25', 'relative'),
 ('(12) 2023-06-03', -544.54, 'Credit Card Bill -£544.54', 'relative'),
 ('(13) 2023-06-03', 100.0, 'Payment for work +£100.00', 'relative'),
 ('(14) 2023-06-05', -87.03, 'Supermarket -£87.03', 'relative'),
 ('(15) 2023-06-08', 103.95, 'Bank refund +£103.95', 'relative'),
 ('(16) 2023-06-08',
  -189.36,
  'Credit Card Additional Payment -£189.36',
  'relative'),
 ('(17) 2023-06-08', -110.0, 'Donation -£110.00', 'relative'),
 ('(18) 2023-06-12', -37.5, 'Dinner -£37.50', 'relative'),
 ('(19) 2023-06-12', -34.42, 'Supermarket -£34.42', 'relative'),
 ('(20) 2023-06-14', -104.6, 'Kids Event -£104.60', 'relative'),
 ('(21) 2023-06-15', -10.23, 'Retail Store -£10.23', 'relative'),
 ('(22) 2023-06-19', -7.07, 'Retail Store -£7.07', 'relative'),
 ('(23) 2023-06-21', -19.73, 'Mobile Phone Contract -£19.73', 'relative'),
 ('(24) 2023-06-22', -20.0, 'Cash withdrawal -£20.00', 'relative'),
 ('(25) 2023-06-24', -20.06, 'Supermarket -£20.06', 'relative'),
 ('(26) 2023-06-30', 2394.55, 'Salary +£2,394.55', 'relative'),
 ('(27) 2023-06-30', -28.05, 'Supermarket -£28.05', 'relative'))

In [46]:
import plotly.graph_objects as go


fig = go.Figure(
    go.Waterfall(
        name = "20", 
        orientation = "h",
        measure = measure,
        y = y_str,
        x = x,
        textposition = "outside",
        text = text,
        connector = {"line":{"color":"rgb(63, 63, 63)"}},
))

fig.update_layout(
    title = "Profit and loss statement 2018",
    showlegend = True,
    autosize=False,
    width=1000,
    height=640,
)

fig.update_yaxes(autorange = "reversed")
fig.update_xaxes(range = [-1000,4500])

fig.show()